
  <footer>
    <div class="social">
      <ul>
        <li>
          <a href="https://www.instagram.com/iamsrk/?hl=en" class="icon"><img class="icon-" src="svg/instagram.svg" alt="instagram" /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gyaneswar-rout-16aa4925a/" class="icon"><img class="icon-" src="svg/linkedin.svg" alt="instagram" /></a>
        </li>
        <li>
          <a href="https://www.reddit.com/user/Opposite_Philosophy6/" class="icon"><img class="icon-" src="svg/reddit.svg" alt="instagram" /></a>
        </li>
        <li>
          <a href="https://twitter.com/GyaneswarRout69" class="icon"><img class="icon-" src="svg/x.svg" alt="instagram" /></a>
        </li>
      </ul>
      <div class="link">all copyright©️ reserved</div>
    </div>
  </footer>

