<nav class="main-nav">
 <!-- <h2 class="website-name">PortfolioрЯІСвАНрЯТї</h2> -->
    <ul class="sidebar">

        <li onclick="hideSidebar()"><a href="" ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg></a></li>
        <li id="Main-head"><a href="/index" >PortfolioрЯІСвАНрЯТї</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/Aboutme">About me</a></li>
        <li><a href="/skills"> my skills</a></li>
    </ul>
    <ul class="options">
        <li id="Main-head" ><a href="/index" >PortfolioрЯІСвАНрЯТї</a></li>
        <li class="hideOnMobile"><a href="/contact">contact</a></li>
        <li class="hideOnMobile"><a href="/Aboutme">About me</a></li>
        <li class="hideOnMobile"><a href="/skills"> my skills</a></li>
        <li class="menubtn" onclick="showSidebar()"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg></a></li>
    </ul>
    <!-- <button class="download-cv">resume</button> -->
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'   
        }
    </script>
</nav>